body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #813d09;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.styled-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.styled-table th, .styled-table td {
    border: 1px solid #ff0000;
    padding: 8px;
    text-align: center;
}